//colors
$neon-pink: #FE2390;
$neon-green: #00FF01;
$neon-orange: #FF9201;
$neon-turquoise: #06F2DB;
$bg-color: #0A1E23;

//Font sizes

//mobile-sizes
$text-xs: 12px;
$text-small: 15px;
$text-medium: 16px;
$text-large: 20px;
$neon-title-mobile: 50px;
$neon-title-desktop: 60px;
$neon-undertitle-mobile: 30px;
$neon-undertitle-desktop: 40px;
